body{
    font-family: sans-serif;
    padding: 20px;
    width: 250px;
}
button{
    background: blue;
    border: none;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
}
article{
    display: flex;
    gap: 20px;
    flex-flow: column wrap;
    justify-content: center;
}
input[type="text"]{
    font-size: 1.1em;
    height: 36px;
    width: 300px;
}
#arrastrar{
    background: orange;
    color: white;
    font-size: 1.5em;
    height: 250px;
    text-align: center;
    width: 250px;
}
#zonasoltar{
    border: 3px dashed lightgray;
    height: 50vh;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
    width: 600px;
}